.orderHeader {
    color:white;
    text-align: center;
    font-size: 45px;
}
.orderMain {
    color: white;
    font-size: 19px;
}
.orderButton {
   font-size: 35px;
   background-color: white;
   color: black;
    border: 0.5px solid #222121;
    border-radius: 15px;
    margin-right: 25px;
}

.orderButton:hover {
    transform: scale(1.23);
    background-color: #2b2a2a;
    color: white;
}
.orderButtonDiv {
    text-align: center;
}

.orderBack {
    margin-left: 25px; 
    color: black;
    text-decoration: none;
    border: 1px solid #222121;
    font-size: 35px;
    border-radius: 15px;
}

.orderBack:hover {
    background-color: #2b2a2a;
    color: white;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}